@font-face {
  font-family: Moderat-Light;
  src: url(./fonts/Moderat-Light.otf);
}
@font-face {
  font-family: Moderat-Regular;
  src: url(./fonts/Moderat-Regular.woff);
}
@font-face {
  font-family: Moderat-Light-Italic;
  src: url(./fonts/Moderat-Light-Italic.otf);
}

:root {
  --main-red: rgb(247, 54, 5); 
  --main-bg-lighter: rgb(251, 251, 251);
  --main-bg-light: rgb(242, 236, 230);
  --main-text-brown: rgb(210, 192, 173);
  --main-text-gray: rgb(109, 107, 106);
  --main-text-darkgrey: rgb(96, 95, 94);
}

body {
  font-family: 'Moderat-Regular';
  background-color: #fff;
  margin: 0;
}
h3, h1 {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h2 {
  font-family: 'Moderat-Light';
}

/* ------------- HOME ----------------- */
.home-title {
  font-family: 'Moderat-Light';
  color: var(--main-red);
  margin: 300px auto 0;
  font-size: 55px;
  text-align: center;
}

.home-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--main-bg-light);
  max-width: 500px;
  margin: 40px auto 60px;
  padding: 5px 5px 5px 30px;
  border-radius: 40px;
  font-size: 1.5em;
  color: var(--main-text-gray);
}

.home-button {
  background-color: var(--main-red);
  color: #fff;
  padding: 10px 7px;
  border-radius: 100%;
  font-size: 0.8em;
}
.home-mid-section-container {
  display: flex;
}

/* ----------------- GUIDES ------------------ */
.guides-container {
  width: 30vw;
  background-color: var(--main-bg-lighter);
}
.guides-container h2 {
  margin: 40px 40px 20px;
}

/* ----------------- CITIES ------------------ */
.cities-container {
  width: 70vw;
  background-color: var(--main-bg-light);
}
.cities-container h2 {
  margin: 40px 40px 20px;
}
.city-list-cities {
  font-size: 2.4em;
}
.city-list-container {
  color: var(--main-text-brown);
  /* border-bottom: 1.5px solid var(--main-bg-lighter); */
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
.city-categories-container {
  display: flex;
  justify-content: space-evenly;
}
.city-categories {
  width: 100px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.city-category-value {
  font-size: 30px;
}
.city-category-name {
  color: var(--main-text-darkgrey);
}
.city-list-container:hover {
  cursor: pointer;
  color: var(--main-text-darkgrey);
}
