@font-face {
  font-family: Moderat-Light;
  src: url(./fonts/Moderat-Light.otf);
}
@font-face {
  font-family: Moderat-Regular;
  src: url(./fonts/Moderat-Regular.woff);
}
@font-face {
  font-family: Apercu-Light-Italic;
  src: url(./fonts/Apercu-Light-Italic.otf);
}

:root {
  --main-red: rgb(247, 54, 5); 
  --main-bg-lighter: rgb(251, 251, 251);
  --main-bg-light: rgb(242, 236, 230);
  --main-text-brown: rgb(210, 192, 173);
  --main-text-gray: rgb(109, 107, 106);
  --main-text-darkgrey: rgb(96, 95, 94);
}

body {
  font-family: 'Moderat-Regular';
  background-color: #fff;
  margin: 0;
}
h1, h4 {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h2 {
  font-family: 'Moderat-Light';
}

input[type=email], input[type=email]:focus, input[type=submit], input[type=submit]:focus {
  border: none;
  background-color: none;
  outline: 0;
}

/* ------------- HOME ----------------- */
.home-title {
  font-family: 'Moderat-Light';
  color: var(--main-red);
  margin: 300px auto 0;
  font-size: 55px;
  text-align: center;
}

.home-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--main-bg-light);
  max-width: 500px;
  margin: 40px auto 60px;
  padding: 5px 5px 5px 30px;
  border-radius: 40px;
  font-size: 1.5em;
  color: var(--main-text-gray);
}

.home-button {
  background-color: var(--main-red);
  color: #fff;
  padding: 10px 7px;
  border-radius: 100%;
  font-size: 0.8em;
}
.home-mid-section-container {
  display: flex;
}

/* ----------------- GUIDES ------------------ */
.guides-container {
  width: 30vw;
  background-color: var(--main-bg-lighter);
}
.guides-container h2 {
  margin: 40px 40px 20px;
}
.guide-container {
  width: 25vw;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border: 1px solid var(--main-bg-light);
  border-radius: 40px;
}
.guide-container img {
  width: 100%;
  border-radius: 40px 40px 0 0;
}
/* ----------------- CITIES ------------------ */
.cities-container {
  width: 70vw;
  background-color: var(--main-bg-light);
}
.cities-container h2 {
  margin: 40px 40px 20px;
}
.city-list-cities {
  font-size: 2.4em;
}
.city-list-container {
  color: var(--main-text-brown);
  /* border-bottom: 1.5px solid var(--main-bg-lighter); */
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
.city-categories-container {
  display: flex;
  justify-content: space-evenly;
}
.city-categories {
  width: 100px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.city-category-value {
  font-size: 30px;
}
.city-category-name {
  color: var(--main-text-darkgrey);
}
.city-list-container:hover {
  cursor: default;
  color: var(--main-text-darkgrey);
}

/* ----- POSTER ----- */

.poster-controls-container {
  /* margin-top: 50px; */
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 40px;
}

.poster-color-wheels div, .poster-stickers img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  /* margin-top: 20px; */
  border: 0.5px rgb(210, 185, 144)solid;
  cursor: pointer;
}
.poster-color-wheels div {
  margin-right: 10px;
}
.poster-stickers img {
  margin-left: 10px;
}
.poster-controls-stickers {
  text-align: right;
}
.poster-logo-container img {
  position: absolute;
  left: 46%;
}

.poster-path {
  top: 16%;
}

.poster-logo {
  top: 60%;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.poster-logo:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.poster-drag {
  position: absolute;
  left: 50%;
  top: 11%;
  transform: rotate(34deg);
}

.poster-wrapper {
  display: table;
  width: 100%;
}

.poster-container {
  display: table-cell;
}

.poster-canvas-container {
  position: relative;
  max-width: 80vh;
  min-width: 320px;
  margin: 0 auto;
}

#poster-canvas-rainbow {
  width: 100%;
  height: auto;
  z-index: 0;
}

#poster-canvas-text, #poster-canvas-stickers, #poster-canvas-logo {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
#poster-canvas-text, #poster-canvas-logo {
  pointer-events: none;
}
#poster-canvas-text {
  z-index: 1;
}

#poster-canvas-stickers {
  z-index: 2;
}

#poster-canvas-logo {
  z-index: 3;
}

.poster-controls-share-container {
  text-align: center;
}
.poster-controls-share-container button {
  margin: 0 10px 40px;
}
/* ------ MODAL ------ */

.modal-wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.3);
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 20px;
  background-color: #fff;
}
.modal-body {
  padding: 40px 40px 30px;
  text-align: center;
  width: 34vw;
}
.modal-body button {
  margin: 10px 5px 0;
}
.close-modal-btn {
  position: absolute;
  cursor: pointer;
  top: 25px;
  right: 25px;
}
.close-modal-btn img {
  width: 25px;
}
.close-modal-btn:hover {
  cursor: pointer;
}
.modal-share-image {
  max-width: 200px;
}


/* --------- CITY GUIDE ----------- */
.city-guide-container {
  display: flex;
  width: 100vw;
}
.city-guide-city {
  width: calc(100vw - 80vh);
}
.city-guide-map {
  width: 80vh;
}
.city-description {
  background-image: url('./images/ny.jpeg');
  background-size: cover;
  background-position: top;
  height: 30vw;
}
.city-description h4 {
  padding: 20px;
}
.city-description h1 {
  text-align: center;
  padding-top: 7vw;
}

/* ----------- CONTACT FORM ----------- */
.contact-form input {
  display: block;
}
.contact-form {
  font-family: Moderat-Light;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--main-bg-light);
  max-width: 500px;
  margin: 40px auto 60px;
  padding: 5px 5px 5px 30px;
  border-radius: 40px;
  color: var(--main-text-gray);
}
.contact-submit {
  background-color: var(--main-red);
  color: #fff;
  padding: 10px 8px;
  border-radius: 100%;
  font-size: 0.8em;
}
.contact-submit:hover {
  cursor: pointer;
}
.contact-input {
  font-size: 0.8em;
  width: 100%;
}
/* .home-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--main-bg-light);
  max-width: 500px;
  margin: 40px auto 60px;
  padding: 5px 5px 5px 30px;
  border-radius: 40px;
  font-size: 1.5em;
  color: var(--main-text-gray);
}

.home-button {
  background-color: var(--main-red);
  color: #fff;
  padding: 10px 7px;
  border-radius: 100%;
  font-size: 0.8em;
} */